#root {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

.inputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    padding-top: 10px;
}

.input_row {
    width: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.input_row label {
    width: 50%;
    font-weight: 500;
}

.input_row input,
.input_row select {
    width: 50%;
    height: 25px;
    padding: 2px;
}

table {
    width: 100%;
    text-align: left;
}

h2 {
    margin: 15px 0px;
}
